/* ****************** List Item ****************** */
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  margin: 2px;
}

.list-item.collapsed {
  justify-content: center;
}

.list-item.active,
.list-item:hover {
  background-color: var(--neutral-1);
}

.list-item.active:hover {
  background-color: var(--neutral-2);
}

.list-item.active.clicked,
.list-item.clicked {
  background-color: var(--neutral-4);
}

.list-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list-item-title.collapsed {
  display: none;
}

.list-delete {
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.list-delete:hover {
  background-color: var(--neutral-3);
}

.list-delete.collapsed {
  display: none;
}
