/* ****************** Section Header ****************** */
.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.section-header-text {
  color: var(--text-faint);
  font-size: 12px;
  font-weight: 500;
}

.section-header-text.collapsed {
  display: none;
}
