/* ****************** Sidebar Header ****************** */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text.collapsed {
  display: none;
}

.toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
