/* ****************** List Item ****************** */
.workspace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  margin: 2px;
}

.workspace.collapsed {
  justify-content: center;
}

.workspace.active,
.workspace:hover {
  background-color: var(--neutral-1);
}

.workspace.active:hover {
  background-color: var(--neutral-2);
}

.workspace.active.clicked,
.workspace.clicked {
  background-color: var(--neutral-4);
}

.workspace-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.workspace-text.collapsed {
  display: none;
}

.workspace-delete {
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.workspace-delete:hover {
  background-color: var(--neutral-3);
}

.workspace-delete.collapsed {
  display: none;
}
