/* ****************** Sidebar ****************** */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toggle-container.collapsed {
  justify-content: center;
}

.logo-text.collapsed {
  display: none;
}

section {
  /* background-color: aqua; */
  margin: 20px;
}

.section-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  color: gray;
  width: 100%;
  gap: 10px;
}

.section-text.collapsed {
  display: none;
}

.section-list {
  list-style-type: none;
}

.new-item-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 16px;
  width: 100%;
  gap: 10px;
}
