/* ****************** Sidebar ****************** */
.toggle-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 10px;
  height: 100px;
}

.logo-text.collapsed {
  display: none;
}

.toggle-container.collapsed {
  justify-content: center;
}
