/* ****************** Sidebar ****************** */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toggle-container.collapsed {
  justify-content: center;
}

.logo-text.collapsed {
  display: none;
}

.section-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  color: gray;
  margin: 20px;
  gap: 10px;
}

.section-text {
  font-size: 14px;
}

.section-text.collapsed {
  display: none;
}

box-icon[size="xs"] {
  width: 16px;
  height: 16px;
  line-height: 1;
}

.section-list {
  list-style-type: none;
}

.section-item {
  padding: 10px 20px;
}

.section-item.collapsed {
  display: none;
}

.section-item:hover {
  background-color: aqua;
  cursor: pointer;
}

.new-item-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  width: 100%;
  gap: 10px;
}

.button-text.collapsed {
  display: none;
}

.new-item-button.collapsed {
  justify-content: center;
}
