/* ****************** Task Manager ****************** */
.task-manager-title {
  background-color: transparent;
  border: none;
  font-size: 3em;
}

.task-manager-title:focus {
  outline: none;
}

.today {
  display: flex;
  color: var(--text-faint);
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
