* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 1fr;
  height: 100vh;
}

header {
  background-color: aqua;
  margin-bottom: 20px;
  grid-column: 2 / 3;
  grid-row: 1;
}

.sidebar {
  background-color: pink;
  margin-right: 20px;
  grid-column: 1;
  grid-row: 1 / 3;
}

main {
  background-color: aquamarine;
  grid-column: 2;
  grid-row: 2;
}
